/***** BASE STYLES *****/
body{
  font-size: 16px;
  font-family: Source Sans Pro, sans-serif;
}

#home,#about,#specialties,#work, #contact{
  height: 600px;
}


/*****GRID*****/
.full-width{
  margin: 0 auto;
  width: 1200px;
}

.half-width{
  float: left;
  width: 600px;
  }

.third-width{
  float: left;
  width:400px;
  }

/*****HEADER*****/
header {
  background: url('../img/background-image.png');
  background-size: cover;
  height: 800px;
}

header h1 {
    color: #bbc085;
    font-family: 'Lora', serif;
    font-size: 1.875em; /*original font-size 30px (16/30=1.875em)  */
    font-style: italic;
    padding: 50px 0;
  }

nav {
  float:right;
  padding: 70px 5px;
}

nav ul li{
  display: inline-block;
}

nav ul li a {
  color:#828282;
  font-size: 1.125em;  /*original font-size 18px (16/18=1.125em)  */
  padding-left:40px;
  text-decoration:none;
  text-transform: uppercase;
  }

/* mouse over link */
nav ul li a:hover {
  color: white;
}

/* selected link */
nav ul li a:active {
  color: #f9cfb9;
}

header h2{
  clear: both;
  color:#9b9b9b;
  font-family: lora bold serif;
  font-size: 4.5em; /*original font-size 72px (16/72=4.5em)  */
  padding-left:40px;
  line-height:80px;
  padding:20px 0;
  width:960px;
}

header h2 span {
  color:#2b2b2b;
}

/*****WORK PAGE HEADER STYLES*****/

.workpage-header {
  background: #ebebeb;
}

.workpage-title {
  padding: 20px 0px 50px 0px;
}

.workpage-subtitle {
  margin: 0 auto;
  text-align: center;
}

/*****END OF WORK PAGE HEADER STYLES*****/


/*****ABOUT*****/

#about .full-width{
  padding: 80px 0;
}

#about h2 {
  font-family: 'Lora', serif;
  font-size: 2.25em;  /*original font-size 36px (16/36=2.25em)  */
}

#about p {
  color:7f7f7f;
  font-family: source sans pro;
  font-size: 1.312em;  /*original font-size 21px (16/21=1.312em)  */
  line-height: 42px;
  padding-right:50px;
  text-align: justify;
}

/*****WORK*****/

#specialties {
Background-color:#f9cfb9;
text-align:center;
}

#specialties .full-width {
  padding: 115px 0;
}

#specialties img {
  padding-bottom: 30px;
}

#specialties h3 {
  font-family:Source sans pro;
  font-size:1.5em; /*original font-size 24px (16/24=1.5em)  */
  margin: 0 auto;
  width:190px;
    }

#specialties p {
  color:#2b2b2b;
  font-family:'Lora', serif;
  font-size: 1.125em; /*original font-size 18px (16/18=1.125em)  */
  line-height:30px;
  padding: 0 35px;
}

/*****CONTACT*****/

#contact {
  Background-color:#ebebeb;
}

#contact .full-width {
  padding: 110px 0;
}

#contact-img {
  border: 12px solid #ffffff;
}

#contact h2, #contact h4, #email-header, #socialmedia-header, #contact ul{
  padding-left: 115px;
}

#envelope {
  padding: 0 10px 0 115px;
}

#contact h2{
  font-family:'Lora', serif;
  font-size:2.25em;  /*original font-size 36px (16/36=2.25em)  */
}

#contact h4{
  font-family:'Lora', serif;
  font-size:1.25em; /*original font-size 20px (16/20=1.25em)  */
}

#email-header {
  font-size:2em; /*original font-size 32px (16/32=2em)  */
  font-weight: 400;
  margin: -30px 0 5px 0;
}

#socialmedia-header{
  font-size:1.812em; /*original font-size 29px (16/29=1.812em)  */
  font-weight:bold;
  margin: 40px 0 0 0;
}

#contact a {
  color:#c49075;
  font-weight:bold;
  font-size:1.75em; /*original font-size 28px (16/28=1.75em)  */
  text-decoration:none;
}

#contact ul: {
  list-style: none;
}

#contact ul li {
  display: inline-block;
}

#contact ul img {
  font-size: 2em; /*original font-size 32px (16/32=2em)  */
  padding-right: 48px;
}
